<header class="header">
    <div class="header__left">
        <button class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <span class="menu-text">MENU</span>
        <div class="language-selector">
            VN <i class="arrow-down"></i>
        </div>
    </div>

    <div class="header__center">
        <p class="resort-name">INTERCONTINENTAL<small>DANANG SUN PENINSULA RESORT</small></p>
    </div>

    <div class="header__right">
        <a href="/login" class="btn btn-login">ĐĂNG NHẬP</a>
        <a href="/booking" class="btn btn-booking">ĐẶT PHÒNG</a>
    </div>
</header>
