<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resort biển 5 sao sang trọng</title>
    <link rel="stylesheet" href="trang1.css">
</head>
<body>
    <div class="homepage">

        <div class="page1">
          <div class="page1_image">
            <button class="btn-dive">Dive In</button>
          </div>
          <div class="page1_text">
            <h1>THIÊN ĐƯỜNG NGHỈ DƯỠNG RIÊNG TƯ</h1>
            <p>
                Trải nghiệm kỳ nghỉ dưỡng riêng tư miền nhiệt đới với nắng vàng, biển xanh và cát trắng tại một trong những khu nghỉ dưỡng biển đẹp nhất Việt Nam. Còn gì tuyệt vời hơn khi được đắm mình vào trong trong thế giới thiên nhiên hoang sơ bên vịnh biển riêng tư và cảm nhận phong cách thiết kế độc đáo của khu nghỉ dưỡng là sự kết hợp hoàn hảo giữa văn hóa Việt Nam truyền thống và lối kiến trúc đương đại. Hãy trải nghiệm ẩm thực tinh túy và tận hưởng dịch vụ tận tâm từ đội ngũ nhân viên người địa phương.
            </p>
          </div>
        </div>
      
     
        <div class="gallery-row">
          <div class="gallery_text">
            <h2>THƯ VIỆN HÌNH ẢNH</h2>
            <button class="btn-khampha">Khám Phá</button>
          </div>
          <div class="gallery_image"></div>
        </div>

        <div class="suite">
            <div class="suite_text">
              <p>PHÒNG & SUITE</p>
              <p>BIỆT THỰ</p>
              <h1>PHÒNG & SUITE</h1>
              <p>Nghỉ dưỡng gần gũi với thiên nhiên trong không gian trong lành, tinh khiết và tận hưởng dịch vụ đẳng cấp từ đội ngũ nhân viên tận tâm của chúng tôi.</p>
              <button class="btn-explore">EXPLORE</button>             
            </div>
            <div class="suite_image"></div>
          </div>
      </div>
      
      
      

    


</body>
</html>
